/* This is where my CSS styles are going to go! */
body{
  background-image: url(https://cdn.shopify.com/s/files/1/2237/7241/products/il_fullxfull.1307403457_avzi.jpg?v=1571610961);
}
.navbar-brand{
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
}
h1{
  font-family: 'Comfortaa', cursive;
}

.jumbotron{
  background-color:#fae1f1;
}
.pink{
  background-color:#fae1f1;
  height: 250px;
}
.did{
  height: 420px;
  width: 20px;
}
.carousel{
  float:right;
  width: 400px;
}
.hobbies{
  font-family: 'Kaushan Script', cursive;
}
.lead{
  font-family: 'Comfortaa', cursive;
}
.orange{
  background-color: #ffeed2;
}
p{
  font-family: 'Amatic SC', cursive;
  font-size:20px;
}
.lead{
  font-family: 'Amatic SC', cursive;
  font-size:30px;
}
.font{
  font-family: 'Kaushan Script', cursive;
}
hr{
  background-color:#fae1f1;
  border-width: 50px;
}
.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
.proud{
  background-color:#fae1f1;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}
.yellow{
  font-family: 'Kaushan Script', cursive;
}
