/* This is where my CSS styles are going to go! */
body{
  background-image: url(https://cdn.shopify.com/s/files/1/2237/7241/products/il_fullxfull.1307403457_avzi.jpg?v=1571610961);
}
.navbar-brand{
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
}
h1{
  font-family: 'Comfortaa', cursive;
}
.jumbotron{
  background-color:#fae1f1;
}
